html, body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    font-weight: bold;
}
.section-1{
    background-color: #0F57FB;
}

.h1-t{
    color: white;
    font-size: 38px;
    font-weight: bold;
}

.p-t{
    color: rgb(231, 230, 230);
}

.teste{
    background-color: #0F57FB;
}

.btn-1{ 
 color: #0F57FB;
 font-weight: 500;
}
@media (min-width: 890px){ /* Para PC */

    .section-1{
        padding-left: 30px;
       } 

    .navbar-brand{
        margin-left: 40px;
        margin-right: 100px;
    }

    .nav-item{
        padding-left: 20px;
        font-size: 18px;
    }

    .p-menu{
       color: white;
       padding-left: 210px;
       padding-right: 100px;
    }

    .btn-menu{
        color: #0F57FB;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

   .img-1{
    margin-top: 110px;
    width: 589px;
    height: 683px;
    } 

    .p-t{
        font-size: 18px;
        padding-right: 100px;
        word-spacing: 5px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .esquerdo{
    margin-top: 170px;
    padding-left: 120px;
    }

    .h1-t{
    font-size: 54px;
    }

    .btn-1{ 
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
       }
       
    .carousel-item {
        height: 600px;
        object-fit: cover;
      }
}

@media (max-width: 889px){ /* Para CELULAR */

   .section-1{
    padding-left: 30px;
    padding-bottom: 30px;
   } 

   .h1-t{
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 15px;
    padding-right: 20px;
    }
    .p-t{
        font-size: 14px;
        margin-bottom: 30px;
        padding-right: 20px;
        font-weight: 400;
        text-align: justify;
        word-spacing: 5px;
    }

    .img-1{
        margin-top: 20px;
        padding-right: 10px;
        object-fit: cover;
    }
    
    .btn-1{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-toggler{
        background-color: rgba(255, 255, 255, 0.753);
        color: #0F57FB;
    }
    .navbar-toggler-icon{
        color: #0F57FB;
    }

    .show{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: -50px;
    }

    .nav-link{
        color: black;
        background-color: rgba(255, 255, 255, 0.354);
        padding: 20px;
    }

    .img-2{
        padding-top: 50px;
    }

    h5{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .h1-2{
        padding-bottom: 20px;
    }

    .p-2{
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .btn-2{
        margin-bottom: 30px;
    }

    .map-1{
        width:20px;
        height:300px;
    }
}
.emergency{
    color: white;
}

.btn-3{
    background-color: white;
    font-size: 16px;
    color: #0F57FB;
    font-weight: bold;
}

.p-emergency{
    font-size: 18px;
}

.bi-star-fill{
    color: rgb(250, 149, 41);
}

.test{
    width: 70px;
    height: 70px;
}

.bg-7{
    background-color: #0F57FB;
}

.credits{
    color: rgb(123, 123, 123);
}